<div class="container-logo">
  <div class="row">
    <div class="col-md-4">
      <h2>  <%= image_tag 'fit-logo.png', :width => 140 %> iFEW</h2>
    </div>
    <div class="col-md-8">
      <h1 id="welcome">Hi <%= current_user.name %>!</h1>

      <br> <h3>Your workout list:</h3>

      <% @workouts.each do |workout| %>
        <%= link_to workout.workout, workout %>
        <%= workout.date.strftime('%Y, %B %d, %A') %> <br>
      <% end %>

      <br>
      <%= link_to "Edit profile", edit_user_registration_path %> |
      <% if user_signed_in? %>
        <%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
