<div class="container-logo">
  <div class="row">
    <div class="col-md-4">
      <h2>  <%= image_tag 'fit-logo.png', width: 140, id:'img-animation' %> iFEW </h2>
      <br>
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h1 id="welcome"><%= image_tag (current_user.avatar.url) %> Hi <%= current_user.name %>! </h1>
      <br>
      <h4>Today is: <%= Time.now.strftime('%B %d, %Y') %> -- 
          <%= @random_list.sample %></h4>
      <br>
      <div class="row">
        <div class="col-md-8">
          <h3>Workout:</h3>
          <%= link_to "Show Last Workout", root_path, id:'show-last-workout', class: 'btn btn-primary' %>
          <div class="table-responsive-workout">
            <table class="table table-responsive table-hover ">
              <br> <h3>Your Workout list:</h3>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Workout</th>
                  <th>Date</th>
                </tr>
              </thead>
              <% @count_workout = 0 %>
              <% @workouts.last(5).each do |workout| %>
                <tbody>
                  <tr>
                    <% @count_workout += 1 %>
                    <td><%= @count_workout %></td>
                    <td><%= link_to workout.workout, workout %> </td>
                    <td><%= workout.date.strftime('%Y, %B %d, %A') %> <br></td>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>ToDo:</h3>
          <div class="table-responsive-todo">
            <table class="table table-responsive table-hover ">
              <% if @todo_lists.empty? %>
                <p>You are lucky today! Your ToDo list is empty!</p>
                <%#= link_to 'New ToDo List', new_todo_list_path, class: 'btn btn-primary' %>
              <% else %>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>TODO List</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <% @count_todo = 0 %>

                <% @todo_lists.each do |todo| %>
                  <tbody>
                    <tr>
                      <% @count_todo += 1 %>
                      <td><%= @count_todo %></td>
                      <td><%= link_to todo.title, todo %> </td>
                      <td><%= todo.description %> <br></td>
                    </tr>
                  </tbody>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>

    </div>

</div>
