<tbody>
  <tr>
  <% if todo_item.completed? %>
      <div class="todo_item">
        <td>  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><p style="opacity:0.4;"><strike><%= todo_item.content %></strike></p></td>
      </div>
      <div class="complete">
        <td>  <%= link_to 'Mark as Complete', complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %> </td>
      </div>
      <div class="trash">
        <td><%= link_to 'Delete', todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Are you sure"} %></td>
      </div>
  <% else %>
    <div class="todo_item">
      <td>  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></td>
      <td><p><%= todo_item.content %></p></td>
    </div>
    <div class="complete">
      <td><%= link_to 'Mark as Complete', complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %></td>
    </div>
    <div class="trash">
      <td>  <%= link_to 'Delete', todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Are you sure"} %></td>
    </div>
  <% end %>
  </tr>
</tbody>
