<!DOCTYPE html>
<html>
<head>
  <title>IFEW</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--  For animation -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <!--  For Chart -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--  Simple navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="container">
          <a class="navbar-brand" href="<%= root_path %>">Home</a>
          <ul class="nav navbar-nav navbar-right">
             <li><a class="navbar navbar-link" href="<%= new_workout_path %>">New Workout</a></li>
             <li><a class="navbar navbar-link" href="<%= progresses_path %>">Progresses</a></li>
             <li><a class="navbar navbar-link" href="<%= todo_lists_path %>">Todo List</a></li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>
